body {
    background-color: #122C43;
    background-image: url('r&m/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7E62B;
    color: #2e2e2e;
    height: 100px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #0a2400;
    color: green;
    height: 80px;
}

#todoMenu {
    list-style: none;
    padding: 0;
    display: flex;
    align-content: space-between;
    
  }
  
  .menu {
    font-weight: bold;
    margin-right: 20px;
    position:sticky;
    background: #F7911D;
    
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #e6bfaf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu:hover .submenu {
    display: block;
  }
  
  .subsubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #BE2D39;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .submenu li:hover .subsubmenu {
    display: block;
  }
  
  .submenu li {
    position: relative;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }
  
  /* Eliminar los puntos de la lista */
  #todoMenu, .submenu, .subsubmenu {
    padding-left: 0;
    list-style-type: none;
  }
  
*{
    font-family: 'Orbitron', sans-serif;
}
