body {
    background-color: #0a0a0a;
    background-image: url('r&m/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7E62B;
    color: #0f0f0f;
    height: 100px;
}

h1{
  color: #0a0a0a;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #275a13;
    color: rgb(42, 216, 42);
    height: 80px;
}
nav {
  display: flex;
  flex-direction:row; /* Alinear elementos  */
  align-items: center; /* Centrar horizontalmente el contenido */
  gap: 10px; /* Espacio entre elementos */
  margin-top: 20px; /* Margen superior */
  color:blue;
}


* {
    font-family: 'Orbitron', sans-serif;
    color:#F7E62B

}
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Espacio entre elementos */
    text-align: center; 
    margin: 30px 100px 30px 200px;
  }
  .card{
    position: relative;
    left: -6%;
    width: 300px;
    height: 370px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  }
  .card .imgBox{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  .card .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: block;
  transition: 0.5s;
  }
  .card .content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 12px;
  background: #8DD37E;
  transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
  box-sizing: border-box;
  overflow: hidden;
  }
  .card:hover .content{
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
  }
  .content p{
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0,3s;
    text-align: justify;
    opacity: 0;
  }
  .card:hover .content p{
  transform: translateY(0);
  opacity: 1;
  }
  h2{
  text-align: center;
  }
  .card:hover{
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
  }
  