body {
    background-color: #122C43;
    background-image: url('r&m/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7E62B;
    color: #2e2e2e;
    height: 100px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #0a2400;
    color: green;
    height: 80px;
}



*{
    font-family: 'Orbitron', sans-serif;
}
¨

